snippet modex "Module Exports"
module.exports = $0;
endsnippet

snippet reqrea "Require React"
const React = require('react');
endsnippet

snippet log "Console Log"
console.log($0);
endsnippet

snippet h1
<h1>$0</h1>
endsnippet

snippet label
<label>$0</label>
endsnippet

snippet input
<input type="$1" value={$2} onChange={$0} />
endsnippet
